<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189084509493-3puc59292tiu7e1dqgp62ojb9imc6iag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189084509493-3puc59292tiu7e1dqgp62ojb9imc6iag</string>
	<key>API_KEY</key>
	<string>AIzaSyAhrsImKmqXFSD8Ge01hU98LKZMYRzXjBg</string>
	<key>GCM_SENDER_ID</key>
	<string>189084509493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DocSchedo</string>
	<key>PROJECT_ID</key>
	<string>docschedo</string>
	<key>STORAGE_BUCKET</key>
	<string>docschedo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189084509493:ios:8cc765ca0a842988f6587c</string>
	<key>DATABASE_URL</key>
	<string>https://docschedo.firebaseio.com</string>
</dict>
</plist>